body{
margin:0;
background:#000;
color:#fff;
font-family:Arial,sans-serif;
}

header{
padding:20px;
text-align:center;
background:#111;
}

h1{
color:red;
}

#searchBox{
width:60%;
padding:10px;
margin:15px 0;
border:none;
border-radius:5px;
}

button{
padding:10px 15px;
margin:5px;
background:red;
color:white;
border:none;
cursor:pointer;
}

#dramaContainer{
padding:20px;
}
